ul.banner-social-buttons > li {
    display: block;
    float: left;
}
ul.banner-social-buttons > li:last-child {
    margin-top: 1rem;
}

ul.banner-contact > li {
    margin-bottom: 1rem;
}




@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
    ul.banner-social-buttons > li:last-child {
        margin-top: 0;
    }
    
    ul.banner-contact > li {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        float: none;
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    
    ul.banner-contact > li {
        display: block;
    }
    
    ul.banner-contact > li {
        display: block;
        margin-top: 1.25rem;
        padding: 0;
        margin-bottom: 0;
    }
}